.navContainer{
  height: 100%;
  border-bottom: 1px solid #008ACF;
}
.wrapper{
  height: 2.5em;
  background-color: #008ACF;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1em;
  padding: 0;
}

.logo {
    height: 4em;
    cursor: pointer;
    margin-bottom: 0.2em;
    margin-left: 2em;
}

.logout {
  padding: 4px 12px;
  margin-right: 0.5em;
  background-color: #ffffff;
  color: #008ACF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  transition: background-color 0.3s ease 0s;
}

.logout:hover {
  background-color: #FF8E1C;
  color:#ffffff;
}

.burgerButton{
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 3px 15px;
}
  